.container {
	margin-top: 1cm;
}

.lower {
	margin-top: 20px;
}

.table-list-search {
	font-size: 105%;
}

td {
	max-width: 200px;
	max-height: 150px;
	overflow: hidden;
}

.search {
	margin-right: 1cm;
}

.loading {
	display: block;
	width: 100px;
	height: 100%;
	margin: auto auto 0 auto;
}

.transparant {
	background-color: #2B3E50 !important;
	margin-top: -8px;
}

.transparant:FOCUS {
	background-color: #2B3E50 !important;
}

.btn-primary:HOVER {
	background-color: #2B3850 !important;
	margin-top: -8px;
	border-radius: 100px
}

.center {
	text-align: center;
}